<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Whats The Weather Update 2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92C6ACB41F05429000EC6762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92C6ACC81F05429100EC6762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92C6ACD31F05429100EC6762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
